<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HaoVA's Blog</title>
  </head>
  <body>
    <h1>Blog</h1>

    <p>Trang web đang được xây dựng, vui lòng quay lại sau.</p>

    <a href="/">Trở về trang chủ.</a>
  </body>
</html>
