@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

h1,
h2 {
  font-family: 'Paytone One', sans-serif;
}
