@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  min-width: 320px;
  overflow-x: hidden;
  top: 0;
}

.font-heading {
  font-family: 'Paytone One', sans-serif;
}

.content {
  @apply leading-6;
}

.content img {
  @apply max-w-full mx-auto my-4;
}

.content h2 {
  @apply text-lg font-bold leading-8;
}

.content p {
  @apply my-4;
}

.content pre {
  @apply bg-gray-50 p-4 my-4 block overflow-auto select-all text-sm;
}

.content code {
  @apply text-sm select-all;
}

.content img + em {
  @apply block text-center -mt-2 mb-3 text-sm;
}

.content .ql-formula {
  @apply text-sm;
}
