@tailwind base;
@tailwind components;
@tailwind utilities;

.haova {
  line-height: 1em;
  height: 1em;
  user-select: none;
}

.haova .logo {
  background-image: url('/icon-dark-mode.svg'), url('/logo-black.svg');
  background-size: 32% auto,90% auto;
  background-repeat: no-repeat;
  background-position: .1em .69em,.0275em .41em;
  cursor: pointer;
}

.dark .haova .logo {
  background-image: url('/icon-light-mode.svg'), url('/logo-white.svg');
}

